<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant People</title>
  
</head>
<body>
  <div class="ui two column centered grid">
  <div class="column"></div>
  <div class="four column centered row">
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
</body>

<script src=""></script>
</html>
