<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant People</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/jass.css">
</head>

<main class="container container-fluid mt-5">
<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      <div class = "post a question">
        <div class="ui form">
              <div class="field">
                <label>User Input</label>
                <input type="text">
              </div>
            </div>
        <button class="ui green button">Green</button>
      </div>
      {{{body}}}
   
    </h1>
  </header>

  </main>
  <footer>
      
  </footer>
</body>

</html>
