<p>Indiv Post Go Here</p>
<div class="card-panel grey lighten-5 z-depth-1">
          <h4 class="teal-text text-darken-2"> {{post.title}}</h4>
          <p>Post: {{post.body}}</p>
          <p>Posted By: {{post.user_id}}</p>
        </div>
